html,body{font-family: 'ubuntu';}
.box{border: 1px solid #eee; border-radius: 25px; padding:20px; height: 200px; text-align: center;}
.box-data{text-align:center; font-size: 3em; display: inline-block; width: 100%; padding: 10px 10px;}
.box-label{text-align:center; width: 100%; font-size:18px; background: #444; color: #eee; padding:10px;}
.sensor-value{display: inline-block}
h1{padding:10px;}

#lights{background-color: #B0F2CD; }
#lights>label{background-color: #1Aa657; border-radius: 25px;}

#temperature{background-color: #B1DAEE}
#temperature>label{background-color: #1D6D93; border-radius: 25px;}

#humidity{background-color: #FFDFBA}
#humidity>label{background-color: #e94e35; border-radius: 25px;}
